<%- include('./partials/header.ejs') %>

<h1 class="text-center pt-3">Application for self-monitoring</h1>

<%- include('./partials/loginRegistrationCards.ejs') %>

<%- include('./partials/infoCarousel.ejs') %>

<%- include('./partials/usersTodayMood.ejs') %>

<p class="alert alert-info text-center mt-2" role="alert">If you don't see the info carousel above or want to read more specifically about application. Visit <a href="/about">about</a> page.</p>

<%- include('./partials/footer.ejs') %>